<html>
  <head>
    <title>k13</title>
  </head>
  <body>
    <img src="{{Pic}}"/>
    <br>
    <br>
    <p>
      {{explanation}}
    </p>
    This is a table of currency conversions: <br>
    <table border=2>
      <tr>
        <td>
          Key
        </td>
        <td>
          Value
        </td>
      </tr>

      {% for key in di %}
      <tr>
        <td>
          {{key}}
        </td>
        <td>
          {{di[key]}}
        </td>
      </tr>
      {% endfor %}

    </table>
  </body>

</html>
